/* PxD styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  color: #535353;
  background-color: #e6e6e6;
}
.introtext {
  columns: 2; 

  // max-width: 1280px;
  // columns: 2; 
  // padding: 24px;
  // display: block;
  // margin: 0 auto;
}
// p, ul {
//   padding: 0 24px;
// }
// ul li {
//   margin-bottom: 8px;
// }
// body {
//   background-color: #e6e6e6;
//   padding: 12px;
// }
// .dash-graph {
//   margin: 24px 0;
//   padding: 12px;
// }
// div#_dash-app-content {
//   max-width: 1280px;
//   margin: 0 auto;
// }
// rect.updatemenu-item-rect {
//   fill: white!important;
//   fill-opacity: .85!important;
// }
// rect.updatemenu-item-rect:hover {
//   fill: white!important;
//   fill-opacity: 1!important;
// }
// .tab-parent .tab-container .tab.tab--selected {
//   border-top: 2px solid #6C9D30;
// }
// .dash-graph {
// }
@media (max-width: 1280px) {

}
@media (max-width: 960px) { 
  .introtext {
  columns: 1    
  } 
}